.container {
    width:50%;
    padding:0.2em;
}
/* 신기한 방식으로 한 줄에 2개의 video 표시했다. 어떻게했냐면, video_list의 ul태그 전체에 display flex를 주고, 여기 video에는 width50%, box-sizing:border-box를 줌으로써 한 줄에 2개씩 표시했다. 그리고 앞으로도 계속 boxsizing 쓸꺼니까 index.css에 * box-sizing 줬다.
아 이후로 css 약간 바뀜. 근데 전체적인 방식은 동일.
난 그냥 display:grid, 2,1fr 썼었다. */

.video{
    display:flex;
    align-items: center;
    width:100%;
    height:100%;
    border: 1px solid lightgray;
    margin-bottom:0.2em;
    cursor:pointer;
    transition:transform 250ms ease-in;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px 0px rgba(191,191,191,0.53);
}
.video:hover{
    transform:scale(1.02);
}

.thumbnail{
    width:40%;
    height:100%;
}
.metadata{
    margin-left:0.2em;
}
.title, .channel{
    margin:0;
    font-size:0.8rem;
}
.channel {
    margin-top:5px;
    font-size:0.6rem;
}